.calculator-display {
  color: white;
  background: #2b2d2f;
  line-height: 130px;
  font-size: 6em;
  position: relative;
  flex: 1;

  &__auto-scaling {
    display: inline-block;
    padding: 0 30px;
    position: absolute;
    right: 0;
    transform-origin: right;
  }
}
